{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_answer_create'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_answer_create'|trans }}</h1>
    {{ form_start(form, { method: 'POST', action: url('answer_add') } )}}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" id="view_button" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('question_index') }}" title="back" id="view_button">
            {{ 'back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}