{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_answer_details'|trans({'%id%': answer.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_answer_details'|trans({'%id%': answer.id|default('')}) }}</h1>
    {% if answer is defined and answer|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ answer.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ answer.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ answer.updatedAt|date('Y/m/d') }}</dd>
{#            <dt>{{ 'label_author'|trans }}</dt>#}
{#            <dd>{{  answer.author.email }}</dd>#}
            <dt>{{ 'label_question_title'|trans }}</dt>
            <dd>{{  answer.question.title }}</dd>
            <dt>{{ 'label_text'|trans }}</dt>
            <dd>{{ answer.text|markdown_to_html }}</dd>
        </dl>
        <p>
            <a href="{{ url('answer_index', {'filters_question_id' : answer.question.id}) }}" title="{{ 'action_back_to_list'|trans }}" id="view_button">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}