{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_record_list'|trans({'%id%': item.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_record_list'|trans({'%id%': item.id|default('')}) }}</h1>
    {% if item is defined and item|length %}

        <dl>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ item.title }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{ item.content }}</dd>
            <dt>{{ 'label_tags'|trans }}</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
        <p>
            <a href="{{ url('record_index', {'id': item.id}) }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_not_found' |trans }}
        </p>
    {% endif %}
{% endblock %}