{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_question_details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_question_details'|trans({'%id%': question.id|default('')}) }}</h1>
    {% if question is defined and question|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ question.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ question.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ question.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  question.category.title }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{  question.author.email }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  question.title }}</dd>
            <dt>{{ 'label_text'|trans }}</dt>
            <dd>{{ question.text|markdown_to_html }}</dd>
            <dt>{{ 'label_tag'|trans }}</dt>
            <dd>
                {% for tag in question.getTags() %}
                    {{ tag.title }}
                {% endfor %}
            </dd>

        </dl>
        <p>
            <a href="{{ url('question_index') }}" title="{{ 'action_back_to_list'|trans }}"id="view_button">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>

    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}