{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'category.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if is_granted('ROLE_ADMIN' )%}
                <a href="{{ url('category_create') }}" title="view" id="view_button">
                    {{ 'category_create'|trans }}
                </a>
            {% endif %}
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action_view'|trans }}" id="view_button">
                            {{ 'action_view'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'label_edit'|trans }}" id="view_button">
                            {{ 'label_edit'|trans }}
                            {% endif %}
                        </a>
                        {%  if not category.tasks|length %}
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'label_delete'|trans }}" id="view_button">
                                {{ 'label_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {%  include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_empty_list'|trans
        } %}
    {% endif %}
{% endblock %}