{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_task_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'task.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th>{{ 'label_author'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>


            <tbody>
            <tbody>
            {% if is_granted('ROLE_USER')%}
                <a href="{{ url('task_create') }}" title="view" id="view_button">
                    {{ 'task_create'|trans }}
                </a>
            {% endif %}



            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.createdAt|date('Y/m/d') }}</td>
                    <td>{{ task.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ task.title }}</td>
                    <td>
                        <a href="{{ url('task_index', {'filters_category_id' : task.category.id}) }}" title="{{ task.category.title }}">
                            {{ task.category.title }}
                        </a>
                    </td>
                    <td>
                        {% if task.tags is defined and task.tags|length %}
                            {% for tag in task.tags %}
                                <a href="{{ url('task_index', {'filters_tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                            &nbsp;&nbsp;
                        {% endif %}
                    </td>
                    <td>{{ task.author.email }}</td>
                    </td>
                    <td>
                        <a href="{{ url('task_show', {id: task.id}) }}" title="view" id="view_button">
                            {{ 'action_view'|trans }}
                        </a>
                        {% if is_granted('EDIT', task)  %}
                            <a href="{{ url('task_edit', {id: task.id}) }}" title="view" id="view_button">
                                {{ 'action_edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', task)  %}
                            <a href="{{ url('task_delete', {id: task.id}) }}" title="view" id="view_button">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                        <a href="{{ url('answer_index', {'filters_task_id' : task.id}) }}" title="{{ 'see_answers'|trans }}" id="view_button">
                            {{ 'see_answers'|trans }}
                        </a>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ url('answer_create', {'filters_task_id' : task.id}) }}" title="{{ 'create_answer'|trans }}" id="view_button">
                                {{ 'create_answers'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ url('answer_add', {'filters_task_id' : task.id}) }}" title="{{ 'add_answer'|trans }}" id="view_button">
                                {{ 'add_answers'|trans }}
                            </a>
                        {% endif%}



                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}