{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_user_details'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label_firstname'|trans }}</dt>
            <dd>{{ user.firstname }}</dd>
            <dt>{{ 'label_lastname'|trans }}</dt>
            <dd>{{ user.lastname }}</dd>
            <dt>{{ 'label_email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        <p>
            <a href="{{ url('user_index') }}" title="{{ 'action_back_to_list'|trans }}" id="view_button">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}